<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3g1s7RuZ3tIILbuZ_fmUlsHkoyWRVgtI</string>
	<key>GCM_SENDER_ID</key>
	<string>311184831193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.practicum.antiradar</string>
	<key>PROJECT_ID</key>
	<string>yolda-3c0a7</string>
	<key>STORAGE_BUCKET</key>
	<string>yolda-3c0a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311184831193:ios:a625682ac5ff2c46f2c4c8</string>
</dict>
</plist>